.text-center{
   text-align: center;
}
/* .bg-red{
  background:#64e8bc;
}
 */
.mx-auto{
  margin: auto;
}

.flex{
  display:flex;
} 
.flex-col{
  flex-direction: column;
}

.items-center{
  align-items: center;
}
